.custom-button {
	display: flex;
	justify-content: center;
	min-width: 165px;
	width: auto;
	height: 50px;
	letter-spacing: 0.5px;
	line-height: 50px;
	padding: 0 25px 0 25px;
	font-size: 13px;
	background-color: black;
	color: white;
	text-transform: uppercase;

	font-weight: bolder;
	border: none;
	border: 1px solid black;

	cursor: pointer;
	&:hover {
		background-color: white;
		color: black;
	}
	&.google-sign-in {
		background-color: #4285f4;
		color: white;
		&:hover {
			background-color: #357ae8;
		}
	}
	&.inverted {
		background-color: white;
		color: black;
		&:hover {
			background-color: black;
			color: white;
		}
	}
}
