.cart-icon {
	width: 60px;
	height: 60px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	.shopping-icon {
		width: 30px;
		height: 30px;
	}

	.item-count {
		position: absolute;
		font-size: 13px;
		font-weight: bold;
		color: #795b10;
		top: 28px;
		left: 26px;
	}
}
